/* Aboutus start */
.aboutus_bg {
  width: 100%;
  height: auto;
  background-image: url("https://www.tharayilpower.com/static/media/testi_bg.f45dc51be227a3befcbe.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.aboutus_content {
  width: 75%;
}
.about_image {
  width: 50%;
  height: 450px;
  outline: 2px groove gray;
  outline-offset: 5px;
}
@media (max-width: 992px) {
  .aboutus_content {
    width: 90% !important;
  }
  .about_image {
    width: 80% !important;
    height: auto !important;
  }
}
@media (max-width: 768px) {
  .aboutus_content {
    width: 95% !important;
  }
  .about_image {
    width: 95% !important;
    height: auto !important;
  }
}
/* Aboutus end */
