/* blog start */
.blog-card {
  transition: all 0.4s ease-in-out;
  border: 2px solid #e0e0e0;
  box-shadow: -10px -10px 0 #008a43;
}
.blog-card:hover {
  transform: translateY(-8px) !important;
  border: 2px groove #00bcd4;
}
.blog-image {
  position: relative;
}
.blog-image img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.blog-card:hover .blog-image img {
  transform: scale(1.01);
}
.blog-title {
  transition: color 0.3s ease;
}
.blog-card:hover .blog-title {
  color: #4caf50;
}
.blog-date {
  top: 10px;
  right: 10px;
  background: linear-gradient(240deg, #008a43, #00bcd4);
  font-size: 0.9rem;
  z-index: 1;
}
@media (max-width: 576px) {
  .blog-image img {
    height: 200px;
  }
  .blog-date {
    font-size: 0.8rem;
    padding: 4px 8px;
  }
}
/* blog end */
