/* Sustainability Section Background */
.sustainability_bg {
  background-image: url("https://nanakpropack-alpha.vercel.app/static/media/testimonialBG1.d9ce347fa76627b6c066.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: inset 0px 0px 1500px 1000px rgba(0, 41, 0, 0.589); */
  box-shadow: inset 0 0 1500px 1000px rgba(0, 0, 0, 0.829); 
}
.card_width {
  width: 75%;
}
@media (max-width: 576px) {
  .card_width {
    width: 100% !important;
  }
}
.sustainability-card {
  background-color: rgba(0, 81, 128, 0.664);
  border: 4px solid white;
  border-radius: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.iconhover {
  transition: transform 0.5s ease;
  display: inline-block;
}
.sustainability-card:hover .iconhover {
  transform: rotateY(180deg);
}
.sustainability-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* VideoEnergy start */
/* .mainvideo {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-shadow: inset 0 0 1500px 400px rgba(0, 0, 0, 0.5);
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay-content-wrapper {
  position: relative;
  height: 100%;
  z-index: 1;
}

.text_video {
  font-size: 70px !important;
  font-weight: 900 !important;
}

@media screen and (max-width: 768px) {
  .text_video {
    font-size: 50px !important;
  }
  .card_width {
    width: 100% !important;
  }
  .mainvideo {
    height: 240px;
  }
} */
.mainvideo {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("https://nanakpropack-alpha.vercel.app/static/media/HomeContactBG.3a42f8935e0a8323a400.avif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 1500px 400px rgba(0, 0, 0, 0.578);
}
.video-overlay-content-wrapper {
  position: relative;
  height: 100%;
  z-index: 1;
}
.text_video {
  font-size: 70px !important;
  font-weight: 900 !important;
}
@media screen and (max-width: 768px) {
  .text_video {
    font-size: 50px !important;
  }
  .mainvideo {
    height: 240px;
  }
}
/* VideoEnergy end */

/* IndustrySec start */
.industries-section {
  width: 100%;
  height: auto;
  background-image: url("../images/bodyBGimg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 1500px 1000px rgba(255, 255, 255, 0.635);
}
.industry-box {
  background-color: whitesmoke;
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.3s ease-in-out !important;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 90%, 50% 85%, 25% 90%, 0 80%);
}
.industry-box:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #008a43, #00bcd4);
  color: white !important;
}
.industry-box:hover .industry-icon,
.industry-box:hover .industry-name {
  color: white;
}
.industry-icon {
  font-size: 25px;
  margin-bottom: 20px;
  color: #000;
}
.industry-name {
  font-weight: 600;
  color: #333;
  margin-bottom: 22px;
}
@media (max-width: 768px) {
  .industry-box {
    padding: 15px;
  }
  .industry-icon {
    font-size: 36px;
  }
}
/* IndustrySec end */
