* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pera {
  font-size: 14px;
}
.titlecolor {
  background: linear-gradient(90deg, #008a43, #00bcd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  display: inline-block;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 3px 3px 10px 10px rgba(128, 128, 128, 0.308);
}

::-webkit-scrollbar-thumb {
  background-color: #008a43;
  border-radius: 5px;
}

/* button hover start */
/* From Uiverse.io by nikk7007 */
.bubbles {
  --c1: #212121; /* Recommendation: same background color */
  --c2: #00bcd4;
  --size-letter: 18px;
  /* padding: 0.5em 1em; */
  font-size: var(--size-letter);

  background-color: black;
  border: calc(var(--size-letter) / 6) solid var(--c2);
  border-radius: 0.2em;
  cursor: pointer;

  overflow: hidden;
  position: relative;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
}

.bubbles > .text {
  font-weight: 700;
  color: var(--c2);
  position: relative;
  z-index: 1;
  transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
}

.bubbles::before {
  top: 0;
  left: 0;
}

.bubbles::after {
  top: 100%;
  left: 100%;
}

.bubbles::before,
.bubbles::after {
  content: "";
  width: 150%;
  aspect-ratio: 1/1;
  scale: 0;
  transition: 1000ms cubic-bezier(0.76, 0, 0.24, 1);

  background-color: var(--c2);
  border-radius: 50%;

  position: absolute;
  translate: -50% -50%;
}

.bubbles:hover {
  & > span {
    color: var(--c1);
  }
  &::before,
  &::after {
    scale: 1;
  }
}

.bubbles:active {
  scale: 0.98;
  filter: brightness(0.9);
}
/* button hover end */

/* Header start */
.navbar_menu {
  background: linear-gradient(70deg, #008a43, #00bcd4);
  color: #fff;
  border: 2px solid transparent;
  padding: 12px 24px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.navbar_menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}
.gradient-border {
  position: relative;
  padding-bottom: 10px;
}
.gradient-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(70deg, #008a43, #00bcd4);
}
.navbar_menu.active,
.navbar_menu:hover,
.navbar_menu.active:hover {
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: -3px -3px 0 #008a43;
}
.navbar_menu.active::before,
.navbar_menu:hover::before,
.navbar_menu.active:hover::before {
  left: 120%;
}
/* Header end */

/* footer start */
.footerbg {
  /* background: linear-gradient(90deg, #008a43, #00bcd4); */
  background-color: #008a43;
}
.footericon {
  transition: all 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 10px 0px 12px 0px;
  font-size: 19px;
}
.footericon:hover {
  border-radius: 50%;
}
.facebookicon {
  background-color: #1877f2 !important;
}
.facebookicon:hover {
  background-color: white !important;
  color: #1877f2 !important;
  text-shadow: 0 0 5px #1877f2 !important;
  box-shadow: 0 0 15px 5px #1877f2 !important;
}
.instaicon {
  background-image: linear-gradient(
    180deg,
    #833ab4,
    #c13584,
    #e1306c,
    #f77737,
    #ffdc80
  );
}
.instaicon:hover {
  background-color: white !important;
  color: #e1306c !important;
  background-image: none !important;
  text-shadow: 0 0 5px #e1306c !important;
  box-shadow: 0 0 15px 5px #e1306c !important;
}
.linkicon {
  background-color: #0077b5 !important;
}
.linkicon:hover {
  background-color: white !important;
  color: #0077b5 !important;
  text-shadow: 0 0 5px #0077b5 !important;
  box-shadow: 0 0 15px 5px #0077b5 !important;
}
.twittericon {
  background-color: #1da1f2 !important;
}
.twittericon:hover {
  background-color: white !important;
  color: #1da1f2 !important;
  text-shadow: 0 0 5px #1da1f2 !important;
  box-shadow: 0 0 15px 5px #1da1f2 !important;
}
.footerlinkicon {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.footer_width {
  width: 75%;
}
@media (max-width: 576px) {
  .footer_width {
    width: 100% !important;
  }
}
/* footer end */

/* whatsapp icon start */
.whatsapp-float {
  position: fixed;
  bottom: 0px;
  right: 20px;
  background-color: #008a43;
  color: white;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  z-index: 999;
  cursor: pointer;
  text-decoration: none;
}
/* whatsapp icon end */